.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.stopwatch {
    margin-bottom: 20px;
    text-align: center;
}

.stopwatch p {
    font-size: 96px;
    font-weight: bold;
    margin: 0;
}

.button {
    margin-top: -10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
}